<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senapathi.medicationreminder">

    <application
        android:name=".main.activities.FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash Screen Activity -->
        <activity android:name=".main.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Activity -->
        <activity
            android:name=".main.activities.MainActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.activities.AccountActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|locale"
            android:screenOrientation="portrait" />
        <activity android:name=".main.activities.BaseActivity" />
        <activity
            android:name=".main.activities.SignUpActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.activities.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>